@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Space+Mono:wght@400;700&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  padding: 0;
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  overflow-x: hidden;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Space Mono", monospace;
}

/* A elements get default styles */
a {
  text-decoration: none;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-family: "Space Mono", monospace;
  font-weight: 700;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}
.container__header {
  padding: 2.5% 5%;
  font-family: "Inconsolata", monospace;
}
.container__header-text {
  font-size: 1.5rem;
  color: #333;
}
.container__content {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 5%;
}
@media (max-width: 766px) {
  .container__content {
    flex-direction: column;
    margin: 0;
  }
}
.container__picture {
  min-width: clamp(300px, 50%, 100%);
}
.container__body {
  padding-inline: 5%;
}
.container__body-title {
  font-size: clamp(1.5rem, 8vw - 2rem, 3rem);
  color: #333;
}
@media (max-width: 766px) {
  .container__body-title {
    font-size: 2rem;
  }
}
.container__body-text {
  width: clamp(26ch, 40ch, 100%);
  margin-block: 10%;
  font-size: clamp(0.875rem, 8vw - 1.25rem, 1.75rem);
  font-weight: 400;
  color: #4f4f4f;
}
.container__body-button {
  display: inline-block;
  padding: 20px 40px;
  font-size: 0.875rem;
  background: #333;
  color: #fff;
}
.container__footer {
  text-align: center;
  font-size: 0.875rem;
  color: #bdbdbd;
}
@media (max-width: 766px) {
  .container__footer {
    font-size: 0.75rem;
  }
}
.container__footer a {
  color: #333;
}